.git
.github
.gitignore
.gitattributes
.idea
.vscode
*.md
!README.md
venv
.venv
__pycache__
*.pyc
*.pyo
.env
.env.*
docker-compose.yml
render.yaml
vercel.json
vercel_app
nginx
*.zip
htmlcov
.coverage
pytest.ini
setup.cfg
conftest.py
